<!doctype html>
<html lang="en">
    <head>
        <title>Sistema Gestión Parqueaderos Politécnico Grancolombiano</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- PoliParking CSS -->
        <link href="static/poliparking/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/poliparking/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="static/poliparking/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="static/poliparking/quill/quill.snow.css" rel="stylesheet">
        <link href="static/poliparking/quill/quill.bubble.css" rel="stylesheet">
        <link href="static/poliparking/remixicon/remixicon.css" rel="stylesheet">
        <link href="static/poliparking/simple-datatables/style.css" rel="stylesheet">
        
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Plantilla principal -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <header id="header" class="header fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
            <a href="sitio/index.html" class="logo d-flex align-items-center">
                <img src="static/img/polilogo.png" alt="">
                <span class="d-none d-lg-block">Parking System</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
            </div><!-- End Logo -->

            <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Buscar" title="Digita palabra a buscar">
                <button type="submit" title="Buscar"><i class="bi bi-search"></i></button>
            </form>
            </div><!-- End Search Bar -->

            <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">1</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                    Tienes 1 mensajes nuevos
                    <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver todos</span></a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                    <a href="#">
                        <img src="" alt="" class="rounded-circle">
                        <div>
                        <h4>Maria Hudson</h4>
                        <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                        <p>4 hrs. ago</p>
                        </div>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                    <a href="#">Mostrar todos los mensajes</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="static/img/profile_image.jpg" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Enrique R</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                    <h6>Enrique Redondo</h6>
                    <span>Desarrollador</span>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-person"></i>
                        <span>Mi Perfil</span>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                        <i class="bi bi-gear"></i>
                        <span>Ajustes de cuenta</span>
                    </a>
                    </li>
                    <li>
                    <hr class="dropdown-divider">
                    </li>

                    <li>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Sign Out</span>
                    </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
            </nav><!-- End Icons Navigation -->

        </header><!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Movimiento Vehículos</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/movimiento_vehiculos/registrar_ingreso">
                    <i class="bi bi-circle"></i><span>Registrar Ingreso</span>
                    </a>
                </li>
                <li>
                    <a href="/movimiento_vehiculos/registrar_salida">
                    <i class="bi bi-circle"></i><span>Registrar Salida</span>
                    </a>
                </li>
                <li>
                    <a href="/movimiento_vehiculos/ver_movimiento">
                    <i class="bi bi-circle"></i><span>Ver Movimiento</span>
                    </a>
                </li>
                </ul>
            </li><!-- End Movimiento Vehículos Nav -->

            
            <li class="nav-heading">Páginas</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/parqueaderos">
                <i class="bi bi-p-square"></i>
                <span>Parqueaderos</span>
                </a>
            </li><!-- End Parqueaderos Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                <i class="bi bi-people"></i>
                <span>Usuarios</span>
                </a>
            </li><!-- End Usuarios Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-car-front"></i>
                <span>Vehículos</span>
                </a>
            </li><!-- End Vehículos Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
                </a>
            </li><!-- End Login Page Nav -->
            </ul>

        </aside><!-- End Sidebar-->