<h5 class="card-title">Movimiento de vehículos reciente <span>| Hoy</span></h5>
<table class="table table-borderless datatable">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Placa</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Salida</th>
        <th scope="col">Estado</th>
    </tr>
    </thead>
    <tbody>
    {% for row in context["recent_mov"] %}
    <tr>
        <td>#{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td><a href="#">{{row[2]}}</a></td>
        <td>{{row[3]}}</td>
        <td>{{row[4]}}</td>
        {% if row[5] == 'salida' %}
        <td><span class="badge bg-success">{{row[5]}}</span></td>
        {% else %}
        <td><span class="badge bg-warning">{{row[5]}}</span></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>