{% include 'sitio/header.html' %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="sitio/index.html">Inicio</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

          <!-- Ingreso Vehículos -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card vehicle_in-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtrar</h6>
                  </li>
                  <li><a class="dropdown-item mov_in" href="#" data-id="1">Hoy</a></li>
                  <li><a class="dropdown-item mov_in" href="#" data-id="2">Este Mes</a></li>
                  <li><a class="dropdown-item mov_in" href="#" data-id="3">Este Año</a></li>
                </ul>
              </div>
              <div class="card-body" id="vehiculo_in">
                <h5 class="card-title">Ingreso Vehículos <span>| {{context['mov_in']['filtro']}}</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-box-arrow-in-down-right"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{context['mov_in']['cantidad']}}</h6>
                        <span class="text-primary small pt-1 fw-bold">{{context['mov_in']['variacion']}}</span> <span class="text-muted small pt-2 ps-1">{{context['mov_in']['descripcion']}}</span>
                    </div>
                </div>
              </div>
            </div>
          </div><!-- End Ingreso Vehículos -->

          <!-- Salida Vehículos -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtrar</h6>
                  </li>
                  <li><a class="dropdown-item mov_out" href="#" data-id="1">Hoy</a></li>
                  <li><a class="dropdown-item mov_out" href="#" data-id="2">Este Mes</a></li>
                  <li><a class="dropdown-item mov_out" href="#" data-id="3">Este Año</a></li>
                </ul>
              </div>
              <div class="card-body" id="vehiculo_out">
                <h5 class="card-title">Salida Vehículos <span>| {{context['mov_out']['filtro']}}</span></h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </div>
                    <div class="ps-3">
                        <h6>{{context['mov_out']['cantidad']}}</h6>
                        <span class="text-success small pt-1 fw-bold">{{context['mov_out']['variacion']}}</span> <span class="text-muted small pt-2 ps-1">{{context['mov_out']['descripcion']}}</span>
                    </div>
                </div>
              </div>
            </div>
          </div><!-- End Salida Vehículos -->

          <!-- Usuarios -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtrar</h6>
                  </li>
                  <li><a class="dropdown-item user_i" href="#" data-id="1">Hoy</a></li>
                  <li><a class="dropdown-item user_i" href="#" data-id="2">Este Mes</a></li>
                  <li><a class="dropdown-item user_i" href="#" data-id="3">Este Año</a></li>
                </ul>
              </div>
              <div class="card-body" id="users_indic">
                <h5 class="card-title">Usuarios <span>| {{context['users_i']['filtro']}}</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                    <h6>{{context['users_i']['cantidad']}}</h6>
                    <span class="text-danger small pt-1 fw-bold">{{context['users_i']['variacion']}}</span> <span class="text-muted small pt-2 ps-1">{{context['users_i']['descripcion']}}</span>

                    </div>
                </div>

              </div>
            </div>

          </div><!-- End Usuarios -->

          <!-- Movimiento de vehículos reciente -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtrar</h6>
                  </li>
                  <li><a class="dropdown-item recent_m" href="#">Últimos 5</a></li>
                </ul>
              </div>

              <div class="card-body" id="recent_mov">
                <h5 class="card-title">Movimiento de vehículos reciente <span>| Últimos 5</span></h5>
                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Ingreso</th>
                      <th scope="col">Salida</th>
                      <th scope="col">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in context["mov_r"]["recent_mov"] %}
                    <tr>
                        <td>#{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td><a href="#">{{row[2]}}</a></td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        {% if row[5] == 'salida' %}
                        <td><span class="badge bg-success">{{row[5]}}</span></td>
                        {% else %}
                        <td><span class="badge bg-warning">{{row[5]}}</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- End Movimiento de vehículos reciente -->

          <!-- Días más Concurridos -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">Días más Concurridos </h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th style="text-align: center;" scope="col">Fecha</th>
                      <th style="text-align: center;" scope="col">Cantidad de vehículos</th>
                      <th style="text-align: center;" scope="col">Tiempo de parqueo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in context["dias_c"]["dias_concurridos"] %}
                    <tr>
                        <td style="text-align: center;">{{row[0]}}</td>
                        <td style="text-align: center;">{{row[1]}}</td>
                        <td style="text-align: center;">{{row[2]}} Horas</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Días más Concurridos -->

        </div>
      </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Hoy</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Noticias <span>| Hoy</span></h5>

            <div class="news">
              <div class="post-item clearfix">
                <img src="{{ url_for('static', filename= '/img/polilogo2.png') }}" alt="">
                <h4><a href="#">Pagina gestión parqueaderos</a></h4>
                <p>Ahora el Politécnico Grancolombiano cuenta con una página para la administración de todos los parqueaderos con los que se tienen convenio.</p>
              </div>
              <div class="post-item clearfix">
                <img src="{{ url_for('static', filename= '/img/polilogo2.png') }}" alt="">
                <h4><a href="#">Generación de reportes</a></h4>
                <p>Con Poli Parkyng System puedes gestionar los espacios por medio de reportes precisos y de fácil entendimiento.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Tráfico de Vehículos -->
        <div class="card">
          <div class="card-body pb-0" id="trafico_vehiculo">
            <h5 class="card-title">Vehículos por franjas de horario <span>| Todos</span></h5>

            <div id="trafficChart" style="min-height: 400px;" class="echart"></div>

            <script type="text/javascript">
              var values = "{{context['data']['datos']}}";
              values = values.replace("[","").replace("]","").replace(" ","");

              const data = [{
                value: values.split(",")[0],
                name: "06:00 - 10:00"
              },
              {
                value: values.split(",")[1],
                name: "10:00 - 14:00"
              },
              {
                value: values.split(",")[2],
                name: "14:00 - 18:00"
              },
              {
                value: values.split(",")[3],
                name: "18:00 - 22:00"
              }]
              
              document.addEventListener("DOMContentLoaded", () => {
                echarts.init(document.querySelector("#trafficChart")).setOption({
                  tooltip: {
                    trigger: 'item'
                  },
                  legend: {
                    top: '5%',
                    left: 'center'
                  },
                  series: [{
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: 'center'
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                      }
                    },
                    labelLine: {
                      show: false
                    },
                    data: data
                  }]
                });
              });
            </script>

          </div>
        </div><!-- End Website Traffic -->
      </div><!-- End Right side columns -->

    </div>
  </section>
</main><!-- End #main -->

{% include 'sitio/footer.html' %}

<script>
  
  $(document).ready(function(){
    $('.mov_in').click(function(){       
      var optionid = $(this).data('id');     
        $.ajax({
            url: '/ajax_get_vehiculo_in',
            type: 'post',
            data: {optionid: optionid},
            success: function(data){
              $('#vehiculo_in').empty();
              $('#vehiculo_in').html(data);
              $('#vehiculo_in').append(data.htmlresponse);
            }
        });
      });

      $('.mov_out').click(function(){       
      var optionid = $(this).data('id');     
        $.ajax({
            url: '/ajax_get_vehiculo_out',
            type: 'post',
            data: {optionid: optionid},
            success: function(data){
              $('#vehiculo_out').empty();
              $('#vehiculo_out').html(data);
              $('#vehiculo_out').append(data.htmlresponse);
            }
        });
      });

      $('.user_i').click(function(){       
      var optionid = $(this).data('id');     
        $.ajax({
            url: '/ajax_get_users_indic',
            type: 'post',
            data: {optionid: optionid},
            success: function(data){
              $('#users_indic').empty();
              $('#users_indic').html(data);
              $('#users_indic').append(data.htmlresponse);
            }
        });
      });

      $('.recent_m').click(function(){       
        $.ajax({
            url: '/ajax_get_recent_mov',
            type: 'post',
            success: function(data){
              $('#recent_mov').empty();
              $('#recent_mov').html(data);
              $('#recent_mov').append(data.htmlresponse);
            }
        });
      });
      
      
  });
</script>