<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <br>
                    <form action="/mov_vehiculo/registrar" method="post" id="addmov">
                        <div class="row mb-3">
                            <label class="col-sm-5 offset-sm-1 col-form-label">Vehículo</label>
                            <label class="col-sm-5 col-form-label">Tipo</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-5 offset-sm-1">
                                <input type="text" class="form-control" name="placa" required> 
                            </div>
                            <div class="col-sm-5">
                                <select class="form-select" aria-label="Default select example" name="vehicle_type" required>
                                    <option value="" selected>Seleccionar opción</option>
                                    <option value="1">Moto</option>
                                    <option value="2">Carro</option>
                                </select>
                            </div>
                        </div>

                        {% if context["option_id"] == 1 %}
                        <div class="row mb-3">
                            <label for="in_hour" class="col-sm-4 offset-sm-1 col-form-label">Hora</label>
                            <label for="in_date" class="col-sm-4 col-form-label datefield">Fecha de Ingreso</label>
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 offset-sm-1">
                                <input type="time" class="form-control" name="in_hour" required> 
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" name="in_date" value="{{context['date_a']}}" required> 
                            </div>
                        </div>

                        {% else %}

                        <div class="row mb-3">
                            <label for="out_hour" class="col-sm-4 offset-sm-1 col-form-label">Hora</label>
                            <label for="out_date" class="col-sm-4 col-form-label datefield">Fecha de Salida</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-4 offset-sm-1">
                                <input type="time" class="form-control" name="out_hour" required> 
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="form-control" name="out_date" value="{{context['date_a']}}" required> 
                            </div>
                        </div>
                        
                        {% endif %}

                        <div class="row mb-3">
                            <label class="col-sm-10 offset-sm-1 col-form-label">Parqueadero</label>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-1">
                                <select class="form-select" aria-label="Default select example" name="parking" readonly>
                                    <option value="{{context['parqueadero'].id}}" selected>{{context['parqueadero'].nombre}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready( function() {
        var date = new Date();
        var currentDate = date.toISOString().slice(0,10);

        $('.datefield').val(currentDate);
    });
</script>