{% extends "admin/base.html" %} {% block title %}Restaurar contraseña | Sistema Gestión Parqueaderos Politécnico Grancolombiano{% endblock %}

{% block content %}
        
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <a href="sitio/index.html" class="logo d-flex align-items-center w-auto">
              <img src="static/img/polilogo.png" alt="">
              <span class="d-none d-lg-block">PoliParking System</span>
            </a>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Restaurar contraseña</h5>
                <p>Digite su email para restaurar la contraseña</p>
              </div>

              <form action="/change_password_email" class="row g-3 needs-validation" method="post">
                
                <div class="col-12">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                    <div class="invalid-feedback">Por favor digita un correo válido</div>
                </div>
                <br>
                <div class="col-12">
                    <a href="/login">Iniciar sesión</a></p>
                </div>
                <br><br><br>

                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Enviar correo</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}