{% extends "admin/base.html" %} {% block title %}Registro | Sistema Gestión Parqueaderos Politécnico Grancolombiano{% endblock %}

{% block content %}
        
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="sitio/index.html" class="logo d-flex align-items-center w-auto">
                        <img src="static/img/polilogo.png" alt="">
                        <span class="d-none d-lg-block">PoliParking System</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Crear cuenta</h5>
                                <p class="text-center small">Digita tus datos para crear una cuenta</p>
                            </div>

                            <form class="row g-3 needs-validation" method="post">
                                <div class="col-12">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                    <div class="invalid-feedback">Por favor digita un nombre válido</div>
                                </div>

                                <div class="col-12">
                                    <label for="email" class="form-label">Correo institucional</label>
                                    <input type="email" name="email" class="form-control" id="email" required onchange="get_username()">
                                    <div class="invalid-feedback">Por favor digita un correo válido</div>
                                </div>

                                <div class="col-12">
                                <label for="username" class="form-label">Usuario</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    <input type="text" name="username" class="form-control" id="username" required readonly>
                                    <div class="invalid-feedback">Por favor digita un usuario válido</div>
                                </div>
                                </div>

                                <div class="col-12">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" name="password" class="form-control" id="password" required>
                                    <div class="invalid-feedback">Por favor digita una contraseña válida</div>
                                </div>

                                <div class="col-12">
                                    <label for="confirmpassword" class="form-label">Confirmar contraseña</label>
                                    <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
                                    <div class="invalid-feedback">La contraseñas no coinciden. Por favor verifica!</div>
                                </div> 

                                <div class="col-12">
                                    <label for="rol" class="form-label">Rol de usuario</label>
                                    <select id="rol_select" class="form-select" aria-label="Default select example" name="rol" onchange="change_rol(this);" required>
                                        <option value="" selected>Seleccionar opción</option>
                                        {% for row in context["lista_roles"] %}
                                        <option value={{row.id}}>{{row.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-12" id="parking_div" style="visibility: hidden;">
                                    <label for="parking" class="form-label">Parqueadero</label>
                                    <select id="parking_select" class="form-select" aria-label="Default select example" name="parking">
                                        <option value="" selected>Seleccionar opción</option>
                                        {% for row in context["lista_parking"] %}
                                        <option value={{row.id}}>{{row.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                        <label class="form-check-label" for="acceptTerms">Estoy de acuerdo y acepto los <a href="#">terminos y condiciones</a></label>
                                        <div class="invalid-feedback">Debes aceptar para crear una cuenta.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                                </div>
                                <div class="col-12">
                                <p class="small mb-0">¿Ya tienes una cuenta? <a href="/login">Ingresar</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function change_rol(sel)
        {
            if (sel.value != 1){
                document.getElementById("parking_div").style.visibility = "visible";
            } 
            else
            {
                document.getElementById("parking_div").style.visibility = "hidden";
            }
        }
    </script>

{% endblock %}

