{% include 'sitio/header.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Modificar Perfil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Perfil</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4"> 
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% else  %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        {% if context['imagen'] %}
                        <img src="{{context['imagen']}}" alt="Profile" class="rounded-circle">
                        {% else  %}
                        <img src="{{ url_for('static', filename= '/img/profile_image.jpg') }}" alt="Profile" class="rounded-circle">
                        {% endif %}
                        <h2>{{context['nombre']}}</h2>
                        <h3>{{ session.user['usuario'] }}</h3>
                        <div class="social-links mt-2">
                            PoliParking System
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="true" role="tab">Editar Perfil</button>
                            </li>
                            
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="false" role="tab" tabindex="-1">Cambiar Contraseña</button>
                            </li>
                        </ul>
                
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade profile-edit pt-3 active show" id="profile-edit" role="tabpanel">

                            <!-- Profile Edit Form -->
                            <form action="/perfil/modificar" class="needs-validation" method="post" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
                                    <div class="col-md-8 col-lg-9">
                                        {% if context['imagen'] %}
                                        <img src="{{context['imagen']}}" alt="Profile" id="tmp_profile_img">
                                        {% else  %}
                                        <img src="{{ url_for('static', filename= '/img/profile_image.jpg') }}" alt="Profile" id="tmp_profile_img">
                                        {% endif %}
                                        
                                        <div class="pt-2">
                                            <label for="img_file" class="col-md-4 col-lg-3 col-form-label">
                                                <i class="bi bi-upload">  Cargar imagen</i>
                                            </label>
                                            <input type="file" name="file" id="img_file" hidden/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre Completo</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="fullName" type="text" class="form-control" id="fullName" value="{{context['nombre']}}">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form><!-- End Perfil Edit Form -->
                        </div>

                    
                        <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                            <!-- Change Password Form -->
                            <form action="/perfil/modificar" class="needs-validation" method="post">
                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="currentPassword" type="password" class="form-control" id="currentPassword" required>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="password" class="col-md-4 col-lg-3 col-form-label">Contraseña</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="password" name="password" class="form-control" id="password" required>
                                        <div class="invalid-feedback">Por favor digita una contraseña válida</div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="confirmpassword" class="col-md-4 col-lg-3 col-form-label">Confirmar contraseña</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
                                        <div class="invalid-feedback">La contraseñas no coinciden. Por favor verifica!</div>
                                    </div>
                                </div> 

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                                </div>
                            </form><!-- End Change Password Form -->
                        </div>
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'sitio/footer.html' %}

<script>
    document.getElementById('img_file').addEventListener('change', readURL, true);
    function readURL(){
        var file = document.getElementById("img_file").files[0];
        var reader = new FileReader();

        var ext = file.name.split('.').pop().toLowerCase();
        var g_ext = ['gif','png','jpg','jpeg','bmp'];

        if (!(g_ext.includes(ext)))
        {
            document.getElementById('img_file').value = null;
            document.getElementById('tmp_profile_img').src = null;
            alert("El formato de la imagen no es válido.");
            return;
        }
        
        var fsize = file.size||file.fileSize;
        if (fsize > 1000000)
        {
            document.getElementById('img_file').value = null;
            document.getElementById('tmp_profile_img').src = null;
            alert("El tamaño de la imagen no puede ser superior a 1Mb");
            return;
        }
        reader.onloadend = function(){
            document.getElementById('tmp_profile_img').src = reader.result;
        }
        if(file){
            reader.readAsDataURL(file);
            }else{
            }
    }
</script>
